<% if Network.last.jitter.to_s == "true" %>
  <% sleep rand(Network.last.latency.to_i) %>
<% else sleep Network.last.latency.to_i %>
<% end %>

<h1>New network</h1>

<%= render 'form' %>

<%= link_to 'Back', networks_path %>
