<% if Network.last.jitter.to_s == "true" %>
  <% sleep rand(Network.last.latency.to_i) %>
<% else sleep Network.last.latency.to_i %>
<% end %>

<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/feedback">feedback page</a>.
</p>
<%= "Took #{Time.now - @start_time_in_controller} seconds to load." %>
<%= p = Loadtime.new(:loadtime => (Time.now - @start_time_in_controller), :page => "contact", :date => Time.now) %>
<%= p.save %>